{% extends plantilla %}


{% block stylesheets %}
       {% stylesheets
            'css/bootstrap.min.css'
            'css/font-awesome.min.css'
            'css/bootstrap-responsive.min.css'
            'css/theme.css'
            'css/blog.css'
            'css/external-pages.css'
            'css/fullcalendar.css'
            'js/distribution/templates/bootstrap.css'
            'css/signup.css'
         output="css/minimized/app.min.css" %}
        <link href="{{ asset('css/minimized/app.min.css') }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('css/font-awesome-ie7.min.css') }}" />
    <![endif]-->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<style>
    #content {
        min-height: 300px;
    }
    #overlay {
        display:none;
        position:absolute;
        background:#fff;
    }
    #img-load {
        position:absolute;
    }
</style>
{% endblock %}


{% block body %}
    <div id="content"></div>

    <!-- starts footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3>L' equipe {{ entreprise|title }}</h3>
                    <div class="blog_post">
                        <div class="row">
                            <div class="span2">
                                <a href="blog.html">
                                    <img src="{{ asset('img/pic1.jpg') }}" alt="post image" class="img-circle" />
                                </a>
                            </div>
                            <div class="span2">
                                <a href="blog.html" class="title">
                                    Lorem Ipsum is simply dummy
                                </a>
                                <div class="intro">
                                    There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
                                </div>
                                <div class="date">
                                    Oct 22. 2012
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span8 contact_us">
                    <form>
                        <div class="row">
                            <div class="span3 field">
                                <label class="label_field">Prenom</label>
                                <input type="text" class="span3" placeholder="Prenoms">
                                <label class="label_field">Nom</label>
                                <input type="text" class="span3" placeholder="Nom de famille">
                                <label class="label_field">Adresse Email</label>
                                <input type="text" class="span3" placeholder="Votre adrese email">
                                <label class="label_field">Suject</label>
                                <input type="text" class="span3" placeholder="Sujet du message">

                            </div>
                            <div class="span5 field">
                                <label class="label_field">Message</label>
                                <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
                            </div>

                            <button type="submit" class="btn pull-right">
                                <i class="icon-comment"></i> Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row copyright">
                <div class="span5">
                    <h3>Social</h3>
                    <a href="https://www.facebook.com/casasthomanon?ref=hl" class="social fb">
                        <i class="i_facebook"></i>
                    </a>
                    <a href="#" class="social tw">
                        <i class="i_twitter"></i>
                    </a>
                    <a href="#" class="social yt">
                        <i class="i_youtube"></i>
                    </a>
                </div>
                <div class="span2 offset5 copy">
                    <p>{{ "now"|date('Y') }} - {{ entreprise|title }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% block javascripts %}
    {% javascripts
        'js/jquery.js'
        'js/bootstrap.min.js'
        'js/theme.js'
        'js/json2.js'
        'js/underscore.js'
        'js/backbone.js'
        'js/distribution/backbone-forms.js'
        'js/distribution/templates/bootstrap.js'
        'js/fullcalendar/fullcalendar.js'
        'js/App.js'

    output="js/minimized/app.min.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <!--script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/theme.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/backbone.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/distribution/backbone-forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/distribution/templates/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/fullcalendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/App.js') }}"></script-->

{% endblock %}