{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/minimized/app.min.css') }}"/>


{% endblock %}

{% block body -%}
    <div class="container">
        <div class="header">
            <h2><a href="{{ path('location_reservaciones_show', { 'slug': entity.location.slug, 'id': entity.id}) }}">Reserve pour {{ entity.location }}</a> </h2>
        </div>
        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <th>Email</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Entrée</th>
                <td>{{ entity.fechaentrada| date("l d F, Y") }}</td>
            </tr>
            <tr>
                <th>Sortie</th>
                <td>{{ entity.fechasalida|date('d m Y') }}</td>
            </tr>
            <tr>
                <th>Quantit&eacute;</th>
                <td>{{ entity.capacidad }} personnes</td>
            </tr>
            <tr>
                <th>Confirm&eacute;</th>
                <td><i class="{{ entity.confirmada ? "icon-ok" : "icon-remove" }}"></i></td>
            </tr>
            <tr>
                <th>Attendu</th>
                <td><i class="{{ entity.atendida  ? "icon-ok" : "icon-remove" }}"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
